html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f4f4f4;
    /* width: 1000vw; */
    height: 400vw;
    width: 100vh;
	/* The height of the body determines the speed at which the Horizontal div scrolls. */
	/* It is relational to the amount of content on the webpage */
	width: auto;
	min-width: 100vw;
	overflow-y: auto;
	padding: 0px;
	border: none;
	overflow-x: hidden;
}

.horizontal-Repeat{
	height: 100%;
	overflow-y: hidden;
	width: auto;
	min-width: 100%;
}


img.bottom{
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

img.top{
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    top: 0%;
    left: -101%;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

img.top:hover{
    opacity: 0;
}


.pageWrapper{
    height: 100vh;
    width: 100vw;
    display: inline-block;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    /* IMAGE PROFILE */

.centerCircle{
   height: 50vh;
   width: 50vh;
   max-width: 100vw;
   max-height: 100vw;
   background-color: #A02E22;
   border-radius: 50%;
   margin-top: 16vh;
   margin-left: calc((100vw - 50vh) / 2);
}

.centerCircle-innerCircle{
    width: 96%;
    height: 96%;
    margin-left: 2%;
    margin-top: 0%;
    margin-right: 2%;
    border-radius: 50%;
    overflow: hidden;
}

.nameHeader{
    height: 8vh;
    margin: auto;
    margin-top: 7vh;
    display: block;
}

#typeName{
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 2vh;
    border: 0.1vh solid #A02E22;
    background-color: #fff;
    height: 8vh;
    margin: auto;
    display: block;
    opacity: 1; 
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#typeName.hide{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

#actualTypeName{
    height: 8vh;
    margin: auto;
    margin-top: -10vh;
    display: block;
    opacity: 0;

}

.hIndex-0{
    position: fixed;
    width: auto;
	white-space: nowrap;
    left: 0px;
    top: 0px;
    height: 100%;
    transform: translate(0,0);
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: -10vh;
}

.active-bar.active{

    width: calc(100% + 2vw);
    height: 0.5vh;
    margin-top: none;
    transform:translate(-1vw, 0);
}

.active-bar.red{
    background-color: #A02E22;
}

.active-bar.grey{
    background-color: #4C4C4C; 
}

.button-Header.show{
    transition: transform 1s ease-in-out;
    -webkit-transform:translateY(10vh);
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    transform: translateY(10vh);
    
}

.button-Header{
    /* width: 24.5%; */
    width: auto;
    /* margin-left: 1vw; */
    margin-right: 1vw;

    padding-left: 1vw;
    padding-right: 1vw;
    display: inline-block;
    font-family: Roboto Mono, monospace;
    font-weight: 100;
    padding-bottom: 0.5vh;
    font-size: calc(20px + .7vh);
    
    color: #111;
    /* background-color: #cdcdcd; */
    border-bottom-left-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;

    text-align: center;

    vertical-align: top;
    /* border: 1px solid #222222; */
    border-top: none;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2); 
    background-color: #f4f4f4;   
}

.button-Header:hover{
    cursor: pointer;
}

.button-Header.active{
    /* padding-top: 1.5vh; */
    padding-bottom: 1.5vh;
}

.col4{
    width: 10%;
    align-content: center;
    align-items: middle;
    padding: auto;
    display: inline-block;
    text-align: center;
}





/* DEBUGGER */
#debugger-window {
    position: fixed;
    display: none;
    top:0px;
    right: 0px;
    z-index: 101;
    width: auto;
    height: auto;
    color: greenyellow;
    background-color: black;
    border-bottom-left-radius: 10px;
    padding: 3px;
}